## Tarea 1
##### Dataset de salarios (Científicos de datos)

https://www.kaggle.com/datasets/iamsouravbanerjee/data-science-salaries-2023

In [32]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("Latest_Data_Science_Salaries.csv")
df.head(10)

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,2023
5,Data Scientist,Full-Time,Senior,Expert,126000,United States Dollar,United States,126000,United States,Medium,2023
6,Data Scientist,Full-Time,Senior,Expert,170000,United States Dollar,United States,170000,United States,Medium,2023
7,Data Scientist,Full-Time,Senior,Expert,130000,United States Dollar,United States,130000,United States,Medium,2023
8,Data Engineer,Full-Time,Mid,Intermediate,85000,British Pound Sterling,United Kingdom,104584,United Kingdom,Medium,2023
9,Data Engineer,Full-Time,Mid,Intermediate,75000,British Pound Sterling,United Kingdom,92280,United Kingdom,Medium,2023

# Ejercicio en Clase:

Para este ejercicio debes realizar los siguientes pasos de manera anticipada los siguientes procesos:
- Cargar el conjunto de datos desde un archivo CSV utilizando pandas.
- Explorar y familiarizarse con la estructura del conjunto de datos.
- Calcular estadísticas descriptivas, como el promedio, la mediana y la desviación estándar, de variables relevantes del conjunto de datos general.

#### Acciones por ejecutar

1. ¿Cúantos posibles "Job Title" existen en el Dataset?
2. ¿Cúales son los "Employment Type" y en qué frecuencia se presentan en el Dataset?
3. ¿Cuáles son los "Expertise Level" y "Experience Level" y cuál es el salario promedio general de cada uno?
4. ¿Cuáles son los "Salary Currency" y a qué tasa está covertido respecto al dolar cada uno?
5. ¿En cuántos paises diferentes se encuentran los empleados ("Employee Residence")?
6. ¿Cuál salario promedio por "Job Title" agrupado?
7. ¿Cuál es el salario promedio por país de residencia (Employee Residence)?
8. ¿Cuál es el "Salary in USD" máximo y mínimo?¿A qué registro pertenece?
9. ¿Cuál es el salario promedio (en USD) por rol por tamaño de compañía?
10. muestre los datos agrupados por tamaño de la compañía, país y salario promedio.

### Propuesta de solución

In [9]:
# Inserte la solución de cada pregunta

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('Latest_Data_Science_Salaries.csv')

In [ ]:
#1. ¿Cúantos posibles "Job Title" existen en el Dataset?

In [13]:
num_job_titles = df["Job Title"].nunique()
print("Número de posibles Job Titles:", num_job_titles)

Número de posibles Job Titles: 111

In [ ]:
#2. ¿Cúales son los "Employment Type" y en qué frecuencia se presentan en el Dataset?

In [21]:
employment_type_counts = df["Employment Type"].value_counts()
print("Frecuencia de Employment Type:")
print(employment_type_counts)

Frecuencia de Employment Type:
Full-Time    3261
Contract       15
Part-Time      13
Freelance      11
Name: Employment Type, dtype: int64

In [ ]:
#3. ¿Cuáles son los "Expertise Level" y "Experience Level" y cuál es el salario promedio general de cada uno?

In [20]:
expertise_level_salary = df.groupby("Expertise Level")["Salary in USD"].mean()
experience_level_salary = df.groupby("Experience Level")["Salary in USD"].mean()
print("Salario promedio por Expertise Level:")
print(expertise_level_salary)
print("\nSalario promedio por Experience Level:")
print(experience_level_salary)

Salario promedio por Expertise Level:
Expertise Level
Director        191512.143836
Expert          160277.513317
Intermediate    108714.977415
Junior           79921.479452
Name: Salary in USD, dtype: float64

Salario promedio por Experience Level:
Experience Level
Entry         79921.479452
Executive    191512.143836
Mid          108714.977415
Senior       160277.513317
Name: Salary in USD, dtype: float64

In [ ]:
#4. ¿Cuáles son los "Salary Currency" y a qué tasa está covertido respecto al dolar cada uno?

In [36]:

df['Conversion Rate'] = df['Salary in USD'] / df['Salary']
conversion_rates = df.groupby('Salary Currency')['Conversion Rate'].mean()

print(conversion_rates)

Salary Currency
Australian Dollar         0.701223
Brazilian Real            0.192691
British Pound Sterling    1.242022
Canadian Dollar           0.770957
Chilean Peso              0.001317
Danish Krone              0.156956
Euro                      1.094518
Hong Kong Dollar          0.127565
Hungarian Forint          0.003075
Indian Rupee              0.012891
Israeli New Shekel        0.278625
Japanese Yen              0.008793
Mexican Peso              0.046543
Norwegian Krone           0.095635
Philippine Peso           0.018106
Polish Zloty              0.238586
Singapore Dollar          0.742514
South African Rand        0.054995
Swiss Franc               1.066176
Thai Baht                 0.029301
Turkish Lira              0.091728
United States Dollar      1.000000
Name: Conversion Rate, dtype: float64

In [ ]:
#5. ¿En cuántos paises diferentes se encuentran los empleados ("Employee Residence")?

In [18]:
num_countries = df["Employee Residence"].nunique()
print("Número de países diferentes en Employee Residence:", num_countries)

Número de países diferentes en Employee Residence: 83

In [ ]:
#6. ¿Cuál salario promedio por "Job Title" agrupado?

In [22]:
job_avg = df.groupby("Job Title")["Salary in USD"].mean()
print("Salario promedio por Job Title:")
print(job_avg)

Salario promedio por Job Title:
Job Title
AI Architect                       237484.000000
AI Developer                       133177.777778
AI Programmer                       56021.750000
AI Scientist                       114117.333333
AWS Data Architect                 258000.000000
                                       ...
Sales Data Analyst                  60000.000000
Software Data Engineer             111627.666667
Staff Data Analyst                  97499.000000
Staff Data Scientist               134500.000000
Staff Machine Learning Engineer    185000.000000
Name: Salary in USD, Length: 111, dtype: float64

In [ ]:
#7. ¿Cuál es el salario promedio por país de residencia (Employee Residence)?

In [23]:
country_avg = df.groupby("Employee Residence")["Salary in USD"].mean()
print("Salario promedio por país de residencia:")
print(country_avg)

Salario promedio por país de residencia:
Employee Residence
Algeria                 100000.000000
American Samoa           45555.000000
Andorra                  50745.000000
Argentina                56444.444444
Armenia                  50000.000000
                            ...
United Arab Emirates    100000.000000
United Kingdom          109147.424490
United States           159794.726050
Uzbekistan               82000.000000
Viet Nam                 44200.000000
Name: Salary in USD, Length: 83, dtype: float64

In [ ]:
#8. ¿Cuál es el "Salary in USD" máximo y mínimo?¿A qué registro pertenece?

In [24]:
max_salary = df["Salary in USD"].max()
min_salary = df["Salary in USD"].min()
max_salary_record = df[df["Salary in USD"] == max_salary]
min_salary_record = df[df["Salary in USD"] == min_salary]
print("\nSalario máximo:", max_salary)
print("Registro de salario máximo:")
print(max_salary_record)
print("\nSalario mínimo:", min_salary)
print("Registro de salario mínimo:")
print(min_salary_record)

Salario máximo: 450000
Registro de salario máximo:
               Job Title Employment Type Experience Level Expertise Level  \
3085  Research Scientist       Full-Time              Mid    Intermediate

      Salary       Salary Currency Company Location  Salary in USD  \
3085  450000  United States Dollar    United States         450000

     Employee Residence Company Size  Year
3085      United States       Medium  2020

Salario mínimo: 15000
Registro de salario mínimo:
                       Job Title Employment Type Experience Level  \
1335          Staff Data Analyst       Full-Time        Executive
2641  Machine Learning Developer       Full-Time            Entry
2826                Data Analyst       Full-Time            Entry

     Expertise Level  Salary       Salary Currency Company Location  \
1335        Director   15000  United States Dollar           Canada
2641          Junior   15000  United States Dollar         Thailand
2826          Junior   15000  United States Dollar        Indonesia

      Salary in USD Employee Residence Company Size  Year
1335          15000            Nigeria       Medium  2020
2641          15000           Thailand        Large  2021
2826          15000          Indonesia        Large  2022

In [ ]:
#9. ¿Cuál es el salario promedio (en USD) por rol por tamaño de compañía?

In [37]:
role_company_avg = df.groupby(["Job Title", "Company Size"])["Salary in USD"].mean()
print("Salario promedio por rol y tamaño de compañía:")
print(role_company_avg)

Salario promedio por rol y tamaño de compañía:
Job Title                        Company Size
AI Architect                     Large           207968.0
                                 Medium          267000.0
AI Developer                     Large           215936.0
                                 Medium           97944.0
                                 Small           197500.0
                                                   ...
Software Data Engineer           Medium           50000.0
Staff Data Analyst               Medium           15000.0
                                 Small           179998.0
Staff Data Scientist             Medium          134500.0
Staff Machine Learning Engineer  Medium          185000.0
Name: Salary in USD, Length: 204, dtype: float64

In [26]:
#10. Muestre los datos agrupados por tamaño de la compañía, país y salario promedio.

In [29]:
company_country_salary_avg = df.groupby(["Company Size", "Employee Residence"])["Salary in USD"].mean()
print(company_country_salary_avg)

Company Size  Employee Residence
Large         Argentina                           55000.000000
              Australia                           77823.857143
              Austria                             75141.666667
              Belgium                            149994.500000
              Bolivia, Plurinational State of     75000.000000
                                                     ...
Small         Turkey                              60000.000000
              Ukraine                             50000.000000
              United Arab Emirates                92500.000000
              United Kingdom                     100360.000000
              United States                      123942.325581
Name: Salary in USD, Length: 149, dtype: float64